body {
    min-width: 620px;
    margin-top: 56px;
    background-color:#ececec;
	margin-bottom: 100px;
}

.navbar {
    border: 0;
    border-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #edc744;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container-box {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container-box-body {
	background-color: white;
	padding: 20px;
}

.container-box-header {
	background-color: #343a40 !important;
	margin-top: 20px;
	color: white;
	padding: 5px;
	padding-left: 15px;
	font-size: 1.25rem;
	height: 40px;
}

.footer {
	text-align: center;
	padding-top: 10px;
	color: #b1b1b1;
}
