.container {
	min-width: 700px;
}

.modalContainer {
	max-width: 100%;
	margin: 0;
}

.table {
	margin-bottom: 0;
}

body {
	background-color:#ececec;
}

.container-box-body {
	background-color: white;
	padding: 20px;
}

.container-box-header {
	background-color: #343a40 !important;
	margin-top: 20px;
	color: white;
	padding: 5px;
	padding-left: 15px;
	font-size: 1.25rem;
	height: 40px;
}

.filterForm {
	margin-bottom: 20px;
}

.footer {
	text-align: center;
	padding-top: 10px;
	color: #b1b1b1;
}